.header {
	height: 100px;
	margin: 10px;
	border: 2px dotted black;
	border-radius: 10px;
}
.section0 {
	height: 100px;
	margin: 10px;
	border: 2px dotted black;
	border-radius: 10px;
}
.section1,
.section2,
.section3,
.section4 {
	height: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px dotted black;
	border-radius: 10px;
}

.section5,
.section6 {
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px dotted black;
	border-radius: 10px;
}
.section7 {
	height: 100px;
	margin: 10px;
	border: 2px dotted black;
	border-radius: 10px;
}
